<div class="cart-header col-md-12">
    Shopping Cart
</div>
<div class="cart-body col-md-12">
    <div class="cart-items row">
        <div class="item-img col-md-4">
            <img src="">
        </div>
        <div class="item-detail col-md-4">
            Tropicana
        </div>
        <div class="item-add col-md-4">
            -
        </div>
    </div>
    <div class="total row">
        <div class="col-md-6 total-title">Total</div>
        <div class="col-md-6">Rs 90</div>
    </div>
</div>
<div class="cart-footer col-md-12">
    <div class="random-fact">
        DID YOU KNOW?
        <p>For every Rs 20/- you spend we credit 1 point to your account as a thank you</p>
    </div>
    <div class="checkout">
        <button class="btn btn-primary">Checkout</button>
    </div>
</div>