.colored-modal{
    background-image: linear-gradient(to right,rgb(228, 107, 107),rgb(231, 63, 63));
}

.close{
    position: fixed;
    top: 30px;
    right: 370px;
    background-color: rgb(43, 116, 226);
    opacity: 1;
    border-radius: 10px;
    color: white;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}


.modal-header, .modal-footer{
    border-top: none;
    border-bottom: none;
}

.modal-content{
    width: 600px;
}

.modal-dialog{
    width: 600px;
}

.normal-body-header{
    text-align: center;
    padding-bottom: 10%;
}

.community-icon{
    font-size: 180px;
    text-align: center;
    color: red;
}

.comm-left-pane{
    text-align: center;
}

.comm-right-pane{
    text-align: left;
}

.check-icon, .error-icon{

    font-size: 150px;
}


.text-centre{
    text-align: center;
    justify-content: center;
}

.status-title{
    font-size: 25px;
    font-weight: bold;
}

.status-desc{
    font-size: 18px;
}

.status-button{
    padding-top: 10%;
}

.success-modal{
    color: green;
}

.fail-modal{
    color: red;
}