.menu-header, .community-score{
    padding: 15px 100px;
    font-weight: bolder;
    
}

.title{
    font-size: 80px;
}

.product-catalogue{
    padding: 100px 100px;
}

.cart{
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i{
    color: red;
    font-size: 50px;
}

.community-score-detail{
    padding: 15px;
    border-radius: 18px;
    background-color: rgb(216, 216, 216);
    font-weight: bold;
}

.community-score-text{
    padding-left: 10px;
    font-weight: bolder;
}

.score-detail{
    color: green;
    font-weight: bolder;
}